.App-header {
    width: 80%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-style: italic;
    color: #282c34;
    margin: 30px;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
    border-radius: 20px;
}

.Home-Link {
    text-decoration: none;
    color: #282c34;
    display: flex;
    align-items: center;
}

.Fab-Link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.Home-Page-style {
    width: 80%;
}

.Product-Card-Style {
    height: 250px;
    padding: 20px;
}

.Product-Image-Style {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.Product-Stack-Style {
    text-align: center;
    cursor: pointer;
}

.ProductList-Container {
}

.Product-Detail-Name-Style {
    padding-left: 40px !important;
    text-align: start;
    align-content: space-between;
    display: grid;
}

.fab-style {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    color: black !important;
    background: black !important;
}

.Create-Page-Style {
    justify-content: center;
}

.Layout-Style {
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center;
}

.Loading-Box-Style {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search-TextField-Style {
    min-width: 250px !important;
}

.description-style {
    text-align: start;
}

.Price-Delete-Div-Style {
    display: flex;
    justify-content: space-between;
}
